*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    margin:.1em;
}

.gallery {
  column-count: 2;
  column-gap: 1rem;
  padding: 1rem;
}

.gallery img {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
  break-inside: avoid;
  border-radius: 8px;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: none; /* Oculto por defecto */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s;
}

#scrollToTopBtn:hover {
  background-color: #555;
}
